body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #f1f1ef;
    margin: auto;
    background: url(https://as1.ftcdn.net/v2/jpg/05/20/61/98/1000_F_520619892_7NuQjPK9fPFY1oNoV99tGJolF1oNkPeL.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 100%;
}

h1, h2 {
    background-color: #000000b0;
    border: 10px solid beige;
    padding: auto;
    width: 600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}


.box-picture, #description, .menu{
    background-color: #000000b0;
    border: 10px solid beige;
    width: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited {
    color: white;
}

#return{
    background-color: #1d1f11fc;
}